{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-cyan">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="http://www.totvs.com"><img src="{% static 'img/logo.png' %}" alt="Logotipo TOTVS" id="brand"></a>

        <!-- Brand End -->

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggle Button End -->

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'create_password' %}">Gerador de Senhas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'get_passwords' %}">Listar de Senhas criadas</a>
                </li>
            </ul>
        </div>
        <!-- Menu End -->
    </div>
</nav>