{% extends "index.html" %}
{% load static %}

{% block title %} Gerar Senha {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form_password.value.errors }}
            <label for="id_value">Password:</label>
            {{ form_password.value }}
        </div>
        <div class="form-group">
            {{ form_password.expiration_date.errors }}
            <label for="id_expiration_date">Data de expiração:</label>
            {{ form_password.expiration_date }}
        </div>
        <div class="form-group">
            {{ form_password.maximum_views.errors }}
            <label for="id_maximum_views">Número máximo de visualizações:</label>
            {{ form_password.maximum_views }}
        </div>
        <br>
        <input class="btn btn-info" type="submit" name="Cadastrar">
    </form>
{% endblock %}