{% extends "index.html" %}
{% load static %}

{% block title %} Listar Senhas Geradas {% endblock %}

{% block content %}
    {% if request.path == '/passwords/expirated/' %}
    <p class="fs-2 text-center">Você está prestes a excluir as senhas expiradas abaixo. Tem certeza que gostaria de continuar?</p>
    <p class="fs-2 text-center">A operação é irreversível.</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Senha</th>
                <th class="text-center">Data de expiração</th>
                <th class="text-center">Número máximo de visualizações</th>
                <th class="text-center">Vizualizações Feitas</th>
                <th class="text-center">Acessos</th>
                <th class="text-center">Copiar</th>
                <th class="text-center">Excluir</th>
            </tr>
        </thead>
        <tbody>
        {% for i in passwords %}
            <tr>
                <td class="text-center">{{ i.value }}</td>
                <td class="text-center">{{ i.expiration_date }}</td>
                <td class="text-center">{{ i.maximum_views }}</td>
                <td class="text-center">{{ i.views }}</td>
                <td class="text-center"><a href="{% url 'view_access' i.id %}"><i class="fa-solid fa-eye"></i></a></td>
                <td class="text-center"><a href="/passwords/{{ i.id }}/"><i class="fa-solid fa-copy"></i></a></td>
                <td class="text-center"><a href="{% url 'delete_password' i.id %}"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total de ítens listados: {{ passwords.count }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% if request.path == '/passwords/expirated/' %}
    <form method="post">
        {% csrf_token %}
        <p class="fs-3">{{ exclusion_form }} Sim, desejo excluir e estou ciente de que esta operação é irreversível.</p>
        <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-info"></a>
        <input type="submit" value="Excluir" class="btn btn-danger">
    </form>
    {% else %}
    <a href="{% url 'delete_expirated' %}"><input type="button" value="Excluir Expirados" class="btn btn-danger"></a>
    {% endif %}
{% endblock %}