{% extends "index.html" %}
{% load static %}

{% block title %} Listar Senhas Geradas {% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Senha</th>
                <th class="text-center">Data de expiração</th>
                <th class="text-center">Número máximo de visualizações</th>
                <th class="text-center">Vizualizações Feitas</th>
                <th class="text-center">Link</th>
            </tr>
        </thead>
        <tbody>
        {% for i in passwords %}
            <tr>
                <td class="text-center">{{ i.value }}</td>
                <td class="text-center">{{ i.expiration_date }}</td>
                <td class="text-center">{{ i.maximum_views }}</td>
                <td class="text-center">{{ i.views }}</td>
                <td class="text-center"><a href="/passwords/{{ i.id }}/">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}