{% extends "index.html" %}
{% load static %}

{% block title %} Senhas Gerada {% endblock %}

{% block content %}
<p class="fs-3 text-center">Senha:</p>
<p class="fs-1 text-center">{{ password.value }}</p>

<p class="fs-3 text-center">Data de expiração:</p>
<p class="fs-1 text-center">{{ password.expiration_date }}</p>

<p class="fs-3 text-center">Número máximo de visualizações:</p>
<p class="fs-1 text-center">{{ password.maximum_views }}</p>

<p class="fs-3 text-center">Visualizações realizadas:</p>
<p class="fs-1 text-center">{{ password.views }}</p>

<p class="fs-3 text-center">Link para visualização:</p>
<p class="fs-1 text-center"><a href="/passwords/{{ password.id }}/">http://{{ request.META.HTTP_HOST }}/passwords/{{ password.id }}/</a></p>

<p class="fs-3 text-center">Listagem dos acessos:</p>

{% if 'access' in request.path %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data do acesso</th>
            <th>Ip</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for i in access %}
        <tr>
            <td>{{ i.date }}</td>
            <td>{{ i.ip }}</td>
            <td>{{ i.password.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}