{% extends "index.html" %}
{% load static %}

{% block title %} Senhas Gerada {% endblock %}

{% block content %}
        {% if 'delete' in request.path %}
        <div class="alert alert-danger" role="alert">
            <p class="fs-5 text-center">Você está prestes a excluir as senhas expiradas abaixo. Tem certeza que gostaria de continuar? Vocẽ também perderá todos os registros de acessos salvos no banco de dados. A operação é irreversível. </p>
        </div>
        {% endif %}
        <div class="box box-primary">
            <div class="box-title">
                <h5>Detalhes</h5>
            </div>
            <div class="box-body">
                {% if password.value %}
                <p class="fs-5 text-center">Senha:</p>
                <p class="fs-1 text-center font-weight-bold">{{ password.value }}</p>
                {% else %}
                <p class="fs-1 text-center">A senha expirou</p>
                {% endif %}
        
                <p class="fs-5 text-center">Data de expiração:</p>
                <p class="fs-3 text-center">{{ password.expiration_date }}</p>
        
                <p class="fs-5 text-center">Número máximo de visualizações:</p>
                <p class="fs-3 text-center">{{ password.maximum_views }}</p>
        
                <p class="fs-5 text-center">Visualizações realizadas:</p>
                <p class="fs-3 text-center">{{ password.views }}</p>
                
                {% if 'access' in request.path %}
                <p class="fs-5 text-center">Link para visualização (Clique no link para copiar):</p>
                <p class="fs-3 text-center" id="{{ password.id }}" onclick="copyLinkToClipboard('{{ password.id }}')" style="cursor: pointer;">http://{{ request.META.HTTP_HOST }}/passwords/{{ password.id }}/</p>
                {% endif %}
        
                
                {% if 'access' in request.path or 'delete' in request.path %}
                <p class="fs-5 text-center">Listagem dos acessos:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Data do acesso</th>
                            <th>Ip</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in access %}
                        <tr>
                            <td>{{ i.date }}</td>
                            <td>{{ i.ip }}</td>
                            <td>{{ i.password.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if 'delete' in request.path %}
                <form method="post">
                    {% csrf_token %}
                    <div class="alert alert-danger" role="alert">
                        <p class="fs-5 text-center">{{ exclusion_form }} Sim, desejo excluir e estou ciente de que esta operação é irreversível.</p>
                    </div>
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn-personalized btn-cyan"></a>
                    <input type="submit" value="Excluir" class="btn-personalized btn-red">
                </form>
                {% endif %}
            </div>
            <div class="box-footer">

            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}